<header>
    <h1>Ponude za Letovanje u MetHotels</h1>
  </header>

  <div class="offer">
    <div class="offer-content">
      <h2 class="offer-title">Luksuzna Soba sa Pogledom na More</h2>
      <p class="offer-description">Provedite nezaboravno letovanje u našem luksuznom hotelu sa prelepim pogledom na more.</p>
      <p class="offer-price">Cena od $100 po noći</p>
      <a href="#" class="reserve-button">Rezerviši Sada</a>
    </div>
  </div>

  <div class="offer">
    <div class="offer-content">
      <h2 class="offer-title">Porodični Paket - All Inclusive</h2>
      <p class="offer-description">Uživajte sa svojom porodicom uz all-inclusive paket koji uključuje sve obroke i zabavu za decu.</p>
      <p class="offer-price">Cena od $150 po noći</p>
      <a href="#" class="reserve-button">Rezerviši Sada</a>
    </div>
  </div>